@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Sometype Mono', monospace;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
body{
    background:#fff;
    height:100vh;
}
.mobile-menu {
    display: none;
}
li a button{
    
    font-weight: 500;
    color:#fff;
    text-decoration: none;
}
.logo{
    padding:10px 10px 0 0 ;
    cursor:pointer;
    height:80px;
    border-radius: 30px;
    
}
header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFEA20;
    text-decoration: none;
    
}
.logo{
    padding: 30px 600px 0 0px; 
    font-weight: 200;
    max-width: 1000px;
    color:#000;
    cursor: pointer;
}
.nav-link{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.nav-link li{
    display: inline-block;
    padding: 0 30px;
    color:#000;
    cursor: pointer;
    text-decoration: none;
}
.nav-link li:hover{
    color:#3C486B;
    
    
}
main{
    display: flex;
    justify-content:space-around;
    align-items: center;
    animation: transition 2s ease;
    
}

    

@keyframes transition {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }
.content-right img{
    height:30rem;
    max-width: 570px;
    padding: 15px 0;
    border:none;
    border-radius: 40px;  
     
}
.content-left{
    width:45%;
    transition: width 2s;
}
.content-left .shop-button{
    padding: 9px 25px;
    color: #FFEA20;
    background-color: #000;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin: 10px 0 0 0;
    
}
.content-left .shop-button:hover{
    color:#FFEA20;
    background-color: #3C486B;
}
.content-left p{ 
    line-height:1.5;
    
}
.content-left h2{
    color:#3C486B;
    padding: 20px 0;
}
.header-button{
    display: flex;
    padding-top: 10px;
    
}
.contact-button{
    position: absolute;
    left: 180px;
    padding: 9px 25px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin: 10px 0 0 0;
    color:#FFEA20;
    background-color: #3C486B;
    
}
.contact-button:hover{
    color: #FFEA20;
    background-color: #000;
}
.abt-heading {
    text-align: center;
    color: #3C486B;
    padding-top:30px ;
}

.abt-cards {
    display: flex;
    padding-top: 20px;
    margin: 10px;

 
}
.abt-cards:hover{
    animation: transition 3s ease;
}
@keyframes transition {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }

.abt-first {
    background: #FFEA20;
    border-style: solid;
    border-width: 4px 0px 0px 4px;
    border-color: #3C486B;
    border-radius: 0.3rem;
    padding: 10px;
    margin-left: 90px;
    max-width: 500px;
}
.abt-second{
    background: #FFEA20;
    border-style: solid;
    border-width: 4px 0px 0px 4px;
    border-color: #3C486B;
    border-radius: 0.3rem;
    padding: 10px;
    margin-left: 40px;
    max-width: 500px;

}

.books-heading{
    text-align: center;
    padding: 50px;
    color: #3C486B;
}
.books-content1{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.books-content1:hover{
    transform: translate(3%);
    transition: transform 1s;
}

.books-content1 p{
    font-size: x-large;
}
.dark-mode{
    background-color: #333; 
    color: #fff; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center;
    text-decoration: none;
    font-size: 10px; 
    display: inline-block;
    
}
.dark{
    background-color: #222;
    color: #c2c1c1;
}
.footer {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 20px; /* Adjust padding as needed */
    text-align: center;
}

/* Remove default link styling for footer links */
.footer a {
    color: #fff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

.contact-heading{
    text-align: center;
    padding-top:30px;
    color: #3C486B;
}
.contact-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}
.contact-card:hover{
    animation:transition 2s ease;
}
.contact-submit{
    padding: 9px 25px;
    color: #FFEA20;
    background-color: #000;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin: 10px 0px 40px 0;
    
}



@keyframes fade {
    from{
        opacity:0;
    }

    to{
        opacity:1
    }
    0%{
        opacity:0
    }
    50%{
        opacity: 1;
        transform:translate()
    }
    100%{

    }
    
}

@media (max-width:680px){
    @import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sometype Mono', monospace;
    text-decoration: none;
}
.mobile-menu {
    display: block;

}
.mobile-menu .hamburger{
    background: none;
    border:none;
    color: #333;
}
.nav-link {
    display: none;
    flex-direction: column;
    background-color:#8c7e04;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    
}

.nav-link.active {
    display: flex;
}

.nav-link li {
    margin: 15px 0;
}


body {
    background: #fff;
    height: 100vh;
}

li a button {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.logo {
    padding: 28px 10px 0px 0;
    cursor: pointer;
    height: 80px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFEA20;
    max-width: 1000px; 
    margin: 0 auto; 
}



main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 
    text-align: center; 
    padding-top: 15px;
}

.content-right img {
    max-width: 100%; 
    padding: 15px 0;
    border: none;
    border-radius: 40px;
}

.content-left {
    width: 100%; 
}

.content-left .shop-button {
    padding: 9px 25px;
    color: #FFEA20;
    background-color: #000;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin: 10px 0 0 0;
    width: 80%; 
}

.content-left .shop-button:hover {
    color: #FFEA20;
    background-color: #3C486B;
}

.content-left p {
    line-height: 1.5;
}

.content-left h2 {
    color: #3C486B;
    padding: 20px 0;
}

.header-button {
    display: flex;
    padding-top: 10px;
    flex-direction: column; 
    align-items: center; 
}

.contact-button {
    position: static; 
    margin: 10px 0 0 0;
    color: #FFEA20;
    background-color: #3C486B;
    width: 80%;
}

.contact-button:hover {
    color: #FFEA20;
    background-color: #000;
}


    .nav-link li {
        padding: 0 10px; 
    }
    .abt-heading {
        text-align: center;
        color: #3C486B;
        padding-top:30px ;
    }
    
    /*about*/

    .abt-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        flex-direction: column;
        margin-right: 30px;
    }
    
    .abt-first {
        background: #FFEA20;
        border-style: solid;
        border-width: 4px 0px 0px 4px;
        border-color: #3C486B;
        border-radius: 0.3rem;
        padding: 10px;
        max-width: 500px;
    }
    .abt-second{
        background: #FFEA20;
        border-style: solid;
        border-width: 4px 0px 0px 4px;
        border-color: #3C486B;
        border-radius: 0.3rem;
        padding: 10px;
        margin-top: 40px;
        max-width: 500px;
    
    }
    .books-heading {
        padding: 10px; 
    }

    .books-content1 {
        margin: 5px; 
        
        
    }

    .books-content1 p {
        font-size: small; 
    }
    
    .contact-card {
        flex-direction: column;
        padding: 20px; 
    }
    
    .contact-form {
        width: 100%; 
    }
    
    .contact-img {
        margin-top: 20px; 
    }
    
    .contact-submit {
        width: 100%; 
        padding: 10px;
    }
    
        
    label, input, textarea {
        font-size: 16px;
    }
    
}



